@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
}

#particles-js {
  width: 100%;
  background-color: #b61924;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 100vh;
}

#nasa-js {
  width: 100%;
  background-color: #000;
  height: 100vh;
}
